/** Plugins */
#plugins-list {
	width: 650px;
	display: block;
	overflow: auto;
	height: 300px;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 200;
  line-height: 27px;
}

#plugins-list li {
	padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom:0.5em;
  border: 1px solid rgb(128,128,128);
  box-model:border-box;
  box-shadow: -.02em 0em 0.2em rgba(0,0,0,0.5), inset 0 0 2rem rgba(0,0,0,0.1);
	margin-bottom: 5px;
	margin-right: 5px;
}

#plugins-list .pluginHeader {
	margin-bottom: 0.5em;
}

#plugins-list .pluginDescription {
	margin-bottom: 0.5em;
}

#plugins-list .installed {
	background: rgb(242, 255, 226);
}

#plugins-list .disabled {
	background: rgb(220, 220, 220);
}

#plugins-list .not_installed {
	background: white;
}

#plugins-list .pluginName {
	font-weight: bold;
}

#plugins-list .pluginStatus:before {
	content: " ";
}

#plugins-list .pluginStatus {
	color: #666666;
}

#plugins-list .pluginScreenshot {
	height: 70px;
	margin-left: 8px;
	border: 1px solid gray;
}

#plugins-list .pluginScreenshotLink {
	float: right;
}

#plugins-list .pluginIcon {
	float: left;
}

#plugins-list .pluginInfo {
	margin-left: 62px;
}